@using System;
@using System.Globalization;
@model IEnumerable<PetCare.Web.Models.VetFreeHour.VetFreeHourViewModel>

<hr />
<h2 class="text-center">@Model.FirstOrDefault().VetName's Available Hours for @Model.FirstOrDefault().Date.Date.ToString("dd.MM.yyy.", new CultureInfo("en"))</h2>
<br />
@foreach (var item in Model)
{
    using (Html.BeginForm("AddVetVisit", "VetVisit", new { vetId = item.VetId, date = item.Date, description = item.Description, healthRecordId = item.HealthRecordId }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="row">
            <div class="col-md-5 thumbnail" style="background-color:cornflowerblue">
                <div class="col-md-4">
                    <h4>@Html.Label(@item.Date.ToString("dd-MM-yyyy h:mm tt", new CultureInfo("en")), new { @class = "control-label" })</h4>
                </div>
                <div class="col-md-2" style="margin-top:0.9%">
                    <input type="submit" class="btn btn-default" value="Book an appointment" />
                </div>
            </div>
        </div>
        <br />
    }
}