@model IEnumerable<PetCare.Web.Models.VetVisit.AddVetVisitViewModel>

<hr />
<h2 class="text-center">@Model.FirstOrDefault().VetName's Available Hours for @Model.FirstOrDefault().DateTime.Date.ToShortDateString()</h2>
<br />

@foreach (var item in Model)
{
    using (Html.BeginForm("AddVetVisit", "VetVisit", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="row">
            <div class="col-md-4">
                @Html.Label(@item.DateTime.ToString("yyyy-MM-dd HH:mm"), new { @class = "control-label" })
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-default" value="Book an appointment" />
            </div>
        </div>
        <br />
    }
}