@{
    ViewBag.Title = "Home";
}

<br />
<div class="jumbotron text-center" style="background-color:aliceblue">
    <h1>Take Care Of Your Pets</h1>
    <h3>Best place to be caring</h3>
</div>



<div class="row">
    <div id="">

    </div>
</div>
