body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-nextvisit{
  color: black;
  background-color: dodgerblue;
  border-color: #cccccc;
}

.btn-nextvisit:hover,
.btn-nextvisit:focus,
.btn-nextvisit:active,
.btn-nextvisit.active,
.open .dropdown-toggle.btn-nextvisit {
  color: white;
  background-color: deepskyblue;
  border-color: #adadad;
}

.btn-lastvisit{
  color: black;
  background-color: grey;
  border-color: #cccccc;
}

.btn-lastvisit:hover,
.btn-lastvisit:focus,
.btn-lastvisit:active,
.btn-lastvisit.active,
.open .dropdown-toggle.btn-lastvisit {
  color: white;
  background-color: darkgrey;
  border-color: #adadad;
}

.coolLi ul li {
    list-style-type: none !important;
    font-size: 15px;
}

.marginTopDiv {
    margin-top: 4%;
}

.centered-profile-image {
    width: 49px;
    height: 49px;
    margin-top: 3%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
