@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error occured while processing your request!</h1>
<h2 class="text-danger">The page was not found! Please check the URL address you have entered.</h2>

