@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error occured while processing your request!</h1>
<h2 class="text-danger">This page is forbidden! Your rights do not allow you to view this page.</h2>

