@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error occured while processing your request!</h1>
<h2 class="text-danger">Internal Server Error! Please contact the system administrator for more information.</h2>
